<aside>
    <div>
        <h3>Buscar</h3>
        <form action="/Home/Busca" class="inline-form">
            <div class="input-group">
                <input type="text" class="form-control" name="termo" placeholder="Buscar por...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Ok</button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div>
    <div id="categorias">
        <h3>Categorias</h3>
        @Html.Action("MenuCategorias")
    </div>
    <div id="autores">
        <h3>Autores</h3>
        @Html.Action("MenuAutores")
    </div>
    <div id="meses">
        <h3>Calendário</h3>
        <ul>
            <li>Outubro/2016 (1)</li>
            <li>Setembro/2016 (1)</li>
            <li>Agosto/2016 (1)</li>
            <li>Julho/2016 (1)</li>
            <li>Março/2016 (1)</li>
        </ul>
    </div>
</aside>