<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração - Resenha Cultural</title>
    <link href="~/Content/Reset.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/estilo-admin.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <aside>
        <h1>Administração</h1>
        <div>
            @Html.Action("UsuarioLogado", "Usuario", new { area = "" } )
            <a class="btn btn-default btn-sm" href="/Usuario/Logout">Sair</a>
        </div>
        <div>
            <ul>
                <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                <li>Usuários</li>
                <li>Configurações</li>
            </ul>
        </div>
    </aside>
    <main>
        @RenderBody()
    </main>
</body>
</html>
